body {
	background-color: #d7ccc8; /* Marron clair */
}

#header {
	background-color: #795548; /* Marron */
	padding: 20px;
	text-align: center;
	color: #fff; /* Texte en blanc */
}

#content {
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #ccc;
}

a {
	text-decoration: none; /* supprime le soulignement des liens */
	color: #795548; /* change la couleur des liens en marron */
	background-color: #795548; /* Marron */
	color: #fff; /* Texte en blanc */
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

a:hover {
	background-color: #a1887f; /* Marron clair */
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myButton, .myLink {
    background-color: #795548;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 500px; 
    text-align: center;
  }
  
  .myLink {
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
    display: inline-block;
    width: 500px;
    text-align: center;
  }
  #saved-pages {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #saved-pages option {
    font-size: 16px;
  }
  
#footer {
    background-color: #795548; /* Marron foncé */
    color: #fff; /* Texte en blanc */
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer p {
    margin: 0;
}
