.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

#images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne */
    grid-auto-rows: minmax(0, 1fr);
    grid-gap: 250px; /* Espacement entre les éléments */
    overflow: auto; /* Barre de défilement en cas de dépassement */
    grid-auto-flow: dense; /* Ajout de cette ligne pour permettre un placement optimal des éléments */
    overflow-x: hidden; /* Masque la barre de défilement horizontale */
    background-color:#bfc0c0;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    align-content: start;
    padding-top: 90px;
    justify-items: start; 
    
}

#mes_boutons{

  background-color: #2e3142;
  height: 40px;
  align-self: center;
  border-radius: 5px;
  align-items: right;
  padding: 5px;

}

button{

  background-color: #e86950;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 300; 
}


.image {
  
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: 180px;
  cursor: pointer;
  z-index: 2;
}

.image-container {
  position: relative;
  z-index: 2;
  display: grid;
  width: 180px;
  height: 180px;
}

.non-draggable-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7; 
  pointer-events: none; /* Empêche le nouvel élément d'interférer avec les événements de souris */
}




.dragged-image {
  position: absolute;
  z-index: 2;
  transform: translate(0, 0);
  width: 180px;
  height: 180px; 
}

#block2 {
  position: relative;
  z-index: 1;
  min-height: 100%;
  background-color: #fff;
}

.image.over {
  z-index: 2;
}

.image.selected {
  opacity: 0.5;
  cursor: move;
}

.image-copy {
  user-select: none; /* Empêche la sélection de la copie */
  pointer-events: none; /* Désactive les événements de pointeur (comme le glisser-déposer) */
  width: 180px;
  height: 180px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  #images {
    grid-template-rows: auto;
    height: auto;
    overflow: initial;
  }

  #block2 {
    min-height: auto;
  }
}
