@font-face {
  font-family: 'Lora';
  src: url('Polices/Lora/Lora-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('Polices/Roboto/Roboto-Light.ttf') format('truetype');
}


body {
    font-family: 'Lora', serif;
    background-color: #bfc0c0;
    
  }

  h1 {
    text-align: center;
    color: #fff;
    background-color: #2e3142;
    border-radius: 5px;
  }

  #file-input, #count-input, #submit-btn {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  #submit-btn {
    height: 30px;
  }

  #file-input, #count-input {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #preview {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  #preview img {
    margin: 5px;
    max-height: 150px;
    transition: transform 0.2s;
  }

  #preview img:hover {
    transform: scale(1.1);
  }